.bg-color {
    background-color: #fff3c8;
}

.card {
    transition: all .2s ease;
}

.card:hover {
    transform: scale(1.03);
}

.imgLook {
    width: 60px;
    height: auto;
    object-fit: cover;
    object-position: center;

}